<div class="w-screen h-screen relative flex overflow-hidden">
  <div class="h-full w-full">
    <div class="w-full px-3 py-2 border-b flex gap-3 justify-between">
      <div class="flex">
        <input
          nz-input
          type="text"
          class="max-w-56"
          placeholder="Project name"
        />
      </div>
      <div class="flex gap-3">
        <button nz-button nzType="default">Load theme</button>
        <button nz-button nzType="primary">Save</button>
      </div>
    </div>
    <div class="flex w-full h-full">
      <!-- Left Side - Block Template -->
      <div class="w-[var(--left-side-width)] h-full border-r">
        <div class="text-center px-3 py-2 border-b h-[49px]">Templates</div>
        <div id="blocks"></div>
      </div>

      <div class="h-full w-full flex-1 flex flex-col">
        <div class="w-full px-4 py-2 border-b flex justify-between gap-3">
          <nz-segmented
            [nzOptions]="devicesSegmented"
            (nzValueChange)="handleIndexChange($event)"
          ></nz-segmented>
          <div class="flex gap-2 items-center">
            <div class="flex gap-2 items-center">
              <label>Border components:</label>
              <nz-switch
                [(ngModel)]="borderComponents"
                (ngModelChange)="toggleBorder($event)"
                nzCheckedChildren="On"
                nzUnCheckedChildren="Off"
              ></nz-switch>
            </div>
            <button
              nz-button
              nzType="default"
              class="p-1 border-none hover:bg-[rgba(0,0,0,0.018)]"
              nz-tooltip
              nzTooltipPlacement="bottom"
              nzTooltipTitle="Undo"
              (click)="undo()"
            >
              <i-lucide name="undo" size="24" strokeWidth="1" />
            </button>
            <button
              nz-button
              nzType="default"
              class="p-1 border-none hover:bg-[rgba(0,0,0,0.018)]"
              nz-tooltip
              nzTooltipPlacement="bottom"
              nzTooltipTitle="Redo"
              (click)="redo()"
            >
              <i-lucide name="redo" size="24" strokeWidth="1" />
            </button>
          </div>
        </div>
        <div
          class="px-4 py-2 w-full h-[calc(100vh-100px)] top-0 bg-[#f5f5f5] overflow-auto"
        >
          <div id="gjs">
            <h1 class="text-3xl font-bold underline">Hello world!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-[var(--right-side-width)] h-full border-l">
    <nz-tabset
      nzCentered
      class="pt-[3px] mb-0"
      [nzSelectedIndex]="selectedTabPanel"
      (nzSelectedIndexChange)="selectedTabPanel = $event"
    >
      <nz-tab nzTitle="Styles"></nz-tab>
      <nz-tab nzTitle="Layers"></nz-tab>
      <nz-tab nzTitle="Components"></nz-tab>
    </nz-tabset>
    <div id="styles" [ngClass]="{ hidden: selectedTabPanel !== 0 }"></div>
    <div id="layers" [ngClass]="{ hidden: selectedTabPanel !== 1 }"></div>
  </div>
</div>
